<a href="https://colab.research.google.com/github/mlaguna10/qutip/blob/master/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Understanding the dataset**

In [1]:
import pandas as pd

In [2]:
ids = pd.read_csv('/content/drive/MyDrive/Data/IDs_mapping.csv')
data = pd.read_csv('/content/drive/MyDrive/Data/diabetic_data.csv')

In [3]:
data

        encounter_id  patient_nbr  ... diabetesMed readmitted
0            2278392      8222157  ...          No         NO
1             149190     55629189  ...         Yes        >30
2              64410     86047875  ...         Yes         NO
3             500364     82442376  ...         Yes         NO
4              16680     42519267  ...         Yes         NO
...              ...          ...  ...         ...        ...
101761     443847548    100162476  ...         Yes        >30
101762     443847782     74694222  ...         Yes         NO
101763     443854148     41088789  ...         Yes         NO
101764     443857166     31693671  ...         Yes         NO
101765     443867222    175429310  ...          No         NO

[101766 rows x 50 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             101766 non-null  object
 23  A1Cresult                 101766 non-null  object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

¿Qué significa cada columna del dataset?

https://www.hindawi.com/journals/bmri/2014/781670/tab1/

Verificamos nuestra variable objetivo de clasificación:

In [5]:
data['readmitted'].unique()

array(['NO', '>30', '<30'], dtype=object)

In [6]:
data['readmitted'].value_counts()

NO     54864
>30    35545
<30    11357
Name: readmitted, dtype: int64

In [7]:
data[data['readmitted'].isnull()].size == 0

True

**Data Cleaning Process**

Clean variable race, gender, age, payer code, medical specialty

1.   Dado que la variable peso tiene un 97% de valores faltantes, se opta por eliminar la columna para todos los registros. 
2.   Las dos primeras columnas del set son sólo identificadores que no serán útiles para el algoritmo.
3. Para Payer Code y Medical Specialty se puede poner la categoría unknown para no perder ese 50% de los datos que se tiene.

In [8]:
df = data.copy()
df

        encounter_id  patient_nbr  ... diabetesMed readmitted
0            2278392      8222157  ...          No         NO
1             149190     55629189  ...         Yes        >30
2              64410     86047875  ...         Yes         NO
3             500364     82442376  ...         Yes         NO
4              16680     42519267  ...         Yes         NO
...              ...          ...  ...         ...        ...
101761     443847548    100162476  ...         Yes        >30
101762     443847782     74694222  ...         Yes         NO
101763     443854148     41088789  ...         Yes         NO
101764     443857166     31693671  ...         Yes         NO
101765     443867222    175429310  ...          No         NO

[101766 rows x 50 columns]

In [9]:
len(df['encounter_id'].unique())

101766

In [10]:
len(df['patient_nbr'].unique())

71518

Pese a que hay pacientes duplicados, los ingresos todos son diferentes, por lo tanto cada registro es único para el modelo.

Borramos las columnas que no aportarán información a nuestro modelo.

In [11]:
df = df.drop(['weight','encounter_id','patient_nbr'], axis=1)
df

                   race  gender      age  ...  change  diabetesMed  readmitted
0             Caucasian  Female   [0-10)  ...      No           No          NO
1             Caucasian  Female  [10-20)  ...      Ch          Yes         >30
2       AfricanAmerican  Female  [20-30)  ...      No          Yes          NO
3             Caucasian    Male  [30-40)  ...      Ch          Yes          NO
4             Caucasian    Male  [40-50)  ...      Ch          Yes          NO
...                 ...     ...      ...  ...     ...          ...         ...
101761  AfricanAmerican    Male  [70-80)  ...      Ch          Yes         >30
101762  AfricanAmerican  Female  [80-90)  ...      No          Yes          NO
101763        Caucasian    Male  [70-80)  ...      Ch          Yes          NO
101764        Caucasian  Female  [80-90)  ...      Ch          Yes          NO
101765        Caucasian    Male  [70-80)  ...      No           No          NO

[101766 rows x 47 columns]

Variable raza:



*   Caucasian: 0
*   AfricanAmerican: 1
*   ? & Other: 2
*   Hispanic: 3
*   Asian: 4

In [12]:
df['race'].value_counts()

Caucasian          76099
AfricanAmerican    19210
?                   2273
Hispanic            2037
Other               1506
Asian                641
Name: race, dtype: int64

In [13]:
df['race'] = df['race'].map({'Caucasian':0, 'AfricanAmerican':1,'?':2, 'Other':2, 'Hispanic':3, 'Asian':4})

In [14]:
df['race'].value_counts()

0    76099
1    19210
2     3779
3     2037
4      641
Name: race, dtype: int64

Variable género:

*   Female: 0
*   Male: 1
*   Unknown/Invalid: 2

In [15]:
df['gender'].value_counts()

Female             54708
Male               47055
Unknown/Invalid        3
Name: gender, dtype: int64

In [16]:
df['gender'] = df['gender'].map({'Female':0,'Male':1,'Unknown/Invalid':2})

In [17]:
df['gender'].value_counts()

0    54708
1    47055
2        3
Name: gender, dtype: int64

Variable Age:

Se cambia cada rango por un entero.

In [18]:
df['age'].value_counts()

[70-80)     26068
[60-70)     22483
[50-60)     17256
[80-90)     17197
[40-50)      9685
[30-40)      3775
[90-100)     2793
[20-30)      1657
[10-20)       691
[0-10)        161
Name: age, dtype: int64

In [19]:
df['age'] = df['age'].map({'[0-10)':0,'[10-20)':1,'[20-30)':2, '[30-40)':3, '[40-50)':4, '[50-60)':5, '[60-70)':6, '[70-80)':7, '[80-90)':8, '[90-100)':9})

In [20]:
df['age'].value_counts()

7    26068
6    22483
5    17256
8    17197
4     9685
3     3775
9     2793
2     1657
1      691
0      161
Name: age, dtype: int64

Se cambia el '?' de las columnas Payer Code y Medical Specialty por la categoría numérica correspondiente a desconocido.

In [21]:
df['payer_code'].value_counts()

?     40256
MC    32439
HM     6274
SP     5007
BC     4655
MD     3532
CP     2533
UN     2448
CM     1937
OG     1033
PO      592
DM      549
CH      146
WC      135
OT       95
MP       79
SI       55
FR        1
Name: payer_code, dtype: int64

In [22]:
df['payer_code'] = df['payer_code'].map({'?':0,'MC':1,'HM':2, 'SP':3, 'BC':4, 'MD':5, 'CP':6, 'UN':7, 'CM':8, 'OG':9, 'PO':10, 'DM':11, 'CH':12, 'WC':13, 'OT':14, 'MP':15, 'SI':16, 'FR':17})

In [23]:
df['payer_code'].value_counts()

0     40256
1     32439
2      6274
3      5007
4      4655
5      3532
6      2533
7      2448
8      1937
9      1033
10      592
11      549
12      146
13      135
14       95
15       79
16       55
17        1
Name: payer_code, dtype: int64

Dado que hay especialidades médicas muy específicas y que faltan más de la mitad de los valores de esta columna, cuesta más arreglar los datos que la información que aportará al modelo.

In [24]:
df = df.drop(['medical_specialty'],axis=1)

Datos no estructurados.

In [25]:
df = df.drop(['diag_1','diag_2','diag_3'], axis=1)

In [26]:
df['max_glu_serum'] = df['max_glu_serum'].map({'None':0, 'Norm':1, '>200':2, '>300':3})

In [27]:
df['A1Cresult'] = df['A1Cresult'].map({'None':0, 'Norm':1, '>7':2, '>8':3})

In [28]:
df.columns.get_loc('metformin')

17

In [29]:
df.columns.get_loc('metformin-pioglitazone')

39

In [30]:
for i in range(17,40):
  name = df.columns[i]
  df[name] = df[name].map({'No':0, 'Up':1, 'Down':2,'Steady':3})

In [31]:
df

        race  gender  age  ...  change  diabetesMed  readmitted
0          0       0    0  ...      No           No          NO
1          0       0    1  ...      Ch          Yes         >30
2          1       0    2  ...      No          Yes          NO
3          0       1    3  ...      Ch          Yes          NO
4          0       1    4  ...      Ch          Yes          NO
...      ...     ...  ...  ...     ...          ...         ...
101761     1       1    7  ...      Ch          Yes         >30
101762     1       0    8  ...      No          Yes          NO
101763     0       1    7  ...      Ch          Yes          NO
101764     0       0    8  ...      Ch          Yes          NO
101765     0       1    7  ...      No           No          NO

[101766 rows x 43 columns]

In [32]:
df['change'] = df['change'].map({'No':0, 'Ch':1})

In [33]:
df['diabetesMed'] = df['diabetesMed'].map({'No':0,'Yes':1})

In [34]:
df['readmitted'] = df['readmitted'].map({'NO':0, '>30':1, '<30':2})

In [35]:
df

        race  gender  age  ...  change  diabetesMed  readmitted
0          0       0    0  ...       0            0           0
1          0       0    1  ...       1            1           1
2          1       0    2  ...       0            1           0
3          0       1    3  ...       1            1           0
4          0       1    4  ...       1            1           0
...      ...     ...  ...  ...     ...          ...         ...
101761     1       1    7  ...       1            1           1
101762     1       0    8  ...       0            1           0
101763     0       1    7  ...       1            1           0
101764     0       0    8  ...       1            1           0
101765     0       1    7  ...       0            0           0

[101766 rows x 43 columns]

**Construcción de algoritmos**

Regresión logística multinomial

In [36]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.drop(['readmitted'], axis=1), df['readmitted'], test_size=0.25, random_state=0)

In [ ]:
from sklearn import linear_model
from sklearn import metrics

mul_lr = linear_model.LogisticRegression(multi_class='multinomial', solver='newton-cg').fit(x_train, y_train)

In [ ]:
print("Multinomial Logistic regression Train Accuracy :: ", metrics.accuracy_score(y_train, mul_lr.predict(x_train)))
print("Multinomial Logistic regression Test Accuracy :: ", metrics.accuracy_score(y_test, mul_lr.predict(x_test)))

Multinomial Decision Tree

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(df.drop(['readmitted'], axis=1), df['readmitted'], test_size=0.25, random_state=0)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
clf_pruned = DecisionTreeClassifier(criterion = "gini", random_state = 100)
clf_pruned.fit(x_train, y_train)

In [ ]:
y_pred = clf_pruned.predict(x_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))

In [ ]:
print(classification_report(y_test, y_pred))

Aquí se puede observar que el desbalance de clases de nuestro atributo objetivo hace que sea más difícil para el algoritmo aprender de esta instancia.

Multinomial Support Vector Machines

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(df.drop(['readmitted'], axis=1), df['readmitted'], test_size=0.25, random_state=0)

In [ ]:
from sklearn import svm

In [ ]:
linear = svm.SVC(kernel='linear', C=1, decision_function_shape='ovo').fit(x_train, y_train)

In [ ]:
rbf = svm.SVC(kernel='rbf', gamma=1, C=1, decision_function_shape='ovo').fit(x_train, y_train)
poly = svm.SVC(kernel='poly', degree=3, C=1, decision_function_shape='ovo').fit(x_train, y_train)
sig = svm.SVC(kernel='sigmoid', C=1, decision_function_shape='ovo').fit(x_train, y_train)

In [ ]:
linear_pred = linear.predict(x_test)
poly_pred = poly.predict(x_test)
rbf_pred = rbf.predict(x_test)
sig_pred = sig.predict(x_test)

In [ ]:
accuracy_lin = linear.score(x_test, y_test)
accuracy_poly = poly.score(x_test, y_test)
accuracy_rbf = rbf.score(x_test, y_test)
accuracy_sig = sig.score(x_test, y_test)

In [ ]:
print(“Accuracy Linear Kernel:”, accuracy_lin)
print(“Accuracy Polynomial Kernel:”, accuracy_poly)
print(“Accuracy Radial Basis Kernel:”, accuracy_rbf)
print(“Accuracy Sigmoid Kernel:”, accuracy_sig

In [ ]:
cm_lin = confusion_matrix(y_test, linear_pred)
print(cm_lin)

In [ ]:
cm_poly = confusion_matrix(y_test, poly_pred)
print(cm_poly)

In [ ]:
cm_rbf = confusion_matrix(y_test, rbf_pred)
print(cm_rbf)

In [ ]:
cm_sig = confusion_matrix(y_test, sig_pred)
print(cm_sig)